#Root_Main{
	.fieldgroup{
		.fieldholder-small{
			.add-existing-autocompleter{
				display: inline-block;
				margin-left: 10px;
				width: auto;
				&:before{
					content: 'or';
					margin-right: 10px;
					font-weight: bold;

				}
			}
		}
	}
	#MailingLists{
		li{
			width: auto;
			margin-right: 20px;
			padding: 4px 0 0;
		}
	}
}

#Root_SubscriptionForm{

}
.cms table.ss-gridfield-table tr th.main{
	white-space: normal;
	span{
		white-space: normal;
	}
}

#Root_SentTo{
	.ss-ui-button{
		.ui-button-text{
			.ui-icon, .ui-button-text{
				display: inline-block;
				vertical-align: middle;
			}
			.ui-button-text{
				padding: 0.4em 0.6em;
			}
		}
	}
}

.cms{
	.Actions{
		.cms-preview-toggle-link{
			float: right;
		}
	}
	.cms-content-fields{
		.field{
			.fieldgroup-field{
				padding: 8px 0;
			}
			.fieldholder-small{
				label{
					margin-left: 0;
					font-weight: bold;
					width: auto;
				}
				fieldset{
					margin-left: 184px;
				}
			}
		}
	}
	table.ss-gridfield-table{
		tbody{
			td.col-buttons{
				width: 60px;
				button{
					.ui-button-text{
						padding: 0.4em 1.2em;
					}
				}
			}
		}
	}
}
