// Drop shadows
@mixin box-shadow($shadow: 0 1px 3px rgba(0,0,0,.25)) {
  -webkit-box-shadow: $shadow;
     -moz-box-shadow: $shadow;
          box-shadow: $shadow;
}

// Transitions
@mixin transition($transition) {
  -webkit-transition: $transition;
     -moz-transition: $transition;
      -ms-transition: $transition;
       -o-transition: $transition;
          transition: $transition;
}




.SubscriptionPage{
	label.error{
		display: block;
		position: absolute;
		margin: -30px 0 0 450px;
		background: rgba(255,100,100,0.4);
		border: 1px solid #FF0000;
		border-radius: 4px;
		padding: 0.2em 0.4em;
	}
	input.error{
		@include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
		$transition: border linear .2s, box-shadow linear .2s;
		@include transition($transition);
		&:focus{
			border-color: rgba(82,168,236,.8);
			outline: 0;
			outline: thin dotted \9; /* IE6-9 */
			$shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
			@include box-shadow($shadow);
		}
	}
}

#MailingLists{
	li{
		width: auto;
		margin-right: 20px;
		padding: 6px 0 0;
	}
}

#SendNotificationControlls{
	li.active{
		border-bottom: 1px solid #D9D9D9;
		box-shadow: inset 0 1px 0 #757575;
		background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #B5B5B5), color-stop(100%, #E7E7E7));
		background: -moz-linear-gradient(#B5B5B5, #E7E7E7);
		background: -webkit-linear-gradient(#B5B5B5, #E7E7E7);
		background: -o-linear-gradient(#B5B5B5, #E7E7E7);
		background: linear-gradient(#B5B5B5, #E7E7E7);
	}
}

.SendNotificationControlledPanel{
	display: none;
}

#Form_ResubscribeForm{
	.Actions:after {
        display: none;
    }
}